*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    height: 100vh;
    font-family: 'Poppins';
    background: rgb(255, 255, 255)
}

body {
    overflow-x: hidden;
}

.webgl
{
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
}
.toolbar 
{
    position: absolute;
    display: block;
    left: 1%;
    top: 1%;
}

button {
    position: absolute;
    display: block;
    z-index: 99;
}


text {
    font-size : 1.0em;
}

.axis text {
    font: 10px sans-serif;
}

.axis line, .axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

td, th, tr {
    padding: 4px;
    border: 1px solid black;
}

table{
    border-collapse: collapse;
}

#dataView{
  margin-top:50px;
}